<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>spider maneiro</title>
</head>
<body>

  <div class="container">

    <div class="box">
        <% dados.forEach(i => {  %>
            <div class="card">
              <h3> <%= i.title %></h3> 
              <p><span>avaliação:</span> <i><%= i.rating %></i> </p>
            </div>
        <%}) %>
    </div>

  </div>
  <div class="container">
    <div class="vermais">
      <a href="/mais">Ver mais</a>
    </div>
  </div>

  
</body>
        
</html>