<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spider maneiro</title>
</head>
<body>

    <% if (dados.length < 1) { %>
        <ul>
        <% for(var i = 0; dados.length > i; i++ ) { %>
        
            <li style="color: black;"> <%= dados %> </li>

        <% } %>
        </ul>

    <% } %>

</body>
</html>