<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spider maneiro</title>
</head>
<body>


      <%   
      
    dados.forEach(i => {  %>
      <div class="card">
        <h3> <%= i.title %></h3> 
        <p> <%= i.rating %> </p>
      </div>
      <%}) %>

</body>
        
</html>