<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spider maneiro</title>
</head>
<body>


      <% 
      
        var dados = [ 
            {"title":"Dil Bechara","rating":"9.1"},{"title":"A Barraca do Beijo 2","rating":"6.0"}, 
             {"title":"After: Depois da Verdade","rating":""},{"title":"The Old Guard","rating":"6.7"},{"title":"A Barraca do Beijo","rating":"6.0"},{"title":"365 dni","rating":"3.3"},{"title":"Greyhound: Na Mira do Inimigo","rating":"7.1"},{"title":"Palm Springs","rating":"7.5"},{"title":"The Rental","rating":"5.8"},{"title":"Hamilton","rating":"8.8"},{"title":"Festival Eurovision da Canção: A Saga de Sigrit e Lars","rating":"6.6"},{"title":"Bill & Ted: Encare a Música","rating":""}
        ]
     
      
    dados.forEach(i => {  %>
      <div class="card">
        <h3> <%= i.title %></h3>
      </div>
      <%}) %>

      <script type="text/javascript" src="data.json"></script>

</body>
        
</html>