<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>spider maneiro</title>
</head>
<body>
    <header class="header-top">
        <a href="/"><i class="material-icons">arrow_back </i></a>
        <span>Cond<i>System</i></span>
    </header>
  <div class="container">

    <div class="box">
        <% dados.forEach(i => {  %>
            <div class="card">
              <h3> <%= i.title %></h3> 
              <p><span>avaliação:</span> <i><%= i.rating %></i> </p>
            </div>
        <%}) %>
    </div>
  </div>

</body>
        
</html>