*{
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
}
body{
    background-image: url(../img/1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    margin: 50px 0;
}
.card {
    width: 300px;
    height: 70px;
    background-color: rgb(19, 23, 255);
    margin: 10px 0;
    padding: 5px 20px;
    border-radius: 5px;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.342)!important;
    color: white;
}